/*************************************************
*
*                    COLORS
*
***************************************************
*
*
*   beige: #d6d5b9
*
*
*   blue-for-icon: #6a91df
*   blue: #4aaaa7
*   light-blue: #7acdc7
*   dark-blue: #34414f
*
*   light-gray: #f9f9f9
*   gray: #eee
*   darker-gray: #ddd
*   dark-gray: #888
*
*   green: #668964
*   dark-green: #5b7a59
*
*   reddish: #e26058
*   red: #f44336
*   stylish red: #f55753
*
*
*
**************************************************/

/*************************************************
*
*              GENERAL INTERFACE
*
**************************************************/



html, body, h1, h2, h3, h4, h5, h6, p, a, ul, ol, li, input {
  font-size: 16px;
  font-family: "Helvetica Neue", sans-serif;
  padding: 0;
  margin: 0;
  color: #333;
  font-weight: lighter;
}
/* Main Content */
html {
  height: 100%;
}
body {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}
.tasks-block {
  width: 80%;
  background-color: #d6d5b9;
  display: flex;
  flex-flow: column nowrap;
  padding-bottom: 50px;
  min-height: 100%;
}
.content {
  display: flex;
  min-height: 100%;
  width: 100%;
  justify-content: flex-end;
}
.nav-block {
  min-height: 100%;
  width: 20%;
  background-color: #eee;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
}



/*************************************************
*
*                   NAV-BLOCK
*
**************************************************/

.nav-header {
  background-color: #5b7a59;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.logo-wrapper {
  background-color: #668964;
  width: 110px;
  height: 50px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  height: 45px;
  padding-top: 2px;
}
.user-toolbar {
display: flex;
align-items: center;
margin-top: 10px;
padding: 5px 5px 0px;

}
.user-toolbar .user-name {
  font-size: 1.2em;
  font-family: sans-serif;
}
.nameIcon {
  display: flex;
  font-weight: normal;
  background-image: url("../images/blue-circle.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 5px;
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.nameLetter {
  color: #fff;
  font-weight: normal;
}

    /*************************************************
    *
    *                   LISTS-BOX
    *
    **************************************************/
    .lists-collection {
      padding: 15px 0;
    }
    .list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 10px;
    }
    .list:hover,
    .list:active {
      background-color: #ddd;
      cursor: pointer;
    }
    .list-content {
      display: flex;
      align-items: center;
    }
    #list-title {
      padding-top: 1px;
      padding-left: 10px;
      font-size: 1.7em;
      align-self: center;
    }
    .icon-list {
      width: 16px;
      height: 16px;
    }
    .icon-dots {
      width: 16px;
      height: 16px;
    }
    .list-ctrl {
      display: flex;
      justify-content: center;
      align-items: center;
    }

/*************************************************
*
*                 TASKS-BLOCK
*
**************************************************/

.listHeader {
  display: flex;
  width: 100%;
  height: 45px;
  background-color: #668964;
  flex-shrink: 0;

}
.listHeader h1 {
  color: #fff;
  font-size: 1.5em;
  align-self: center;
  padding: 5px 20px;

}
.newTaskBlock {
  margin: 20px 0 10px;
  width: 100%;
  height: 40px !important;
  display: flex;
  justify-content: center;
}
.newTaskBlock * {
  flex-shrink: 0;
  flex-grow: 0;
}
#newTask {
  height: 40px;
  width: 82%;
  font-size: 1.5em;
  color: #fff;
  border: none;
  padding-left: 10px;
  outline: none;
  background-color: #668964;
  opacity: 0.75;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
::placeholder {
  color: #ddd;
  font-weight: lighter;
}


#addTask {
  $('.tasks-list').find('.task').addClass('invisible')
  height: 40px;
  font-size: 1.5em;
  padding: 3px 0;
  width: 15%;
  text-align: center;
  background-color: #eee;
  transition: 0.2s;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

}
#addTask:hover,
#addTask:active {
  background-color: #555;
  cursor: pointer;
  color: #fff;
}

    /*************************************************
    *
    *                 TASKS-BOX
    *
    **************************************************/

    .tasks-list {
      padding: 20px 0;
    }
    .task {
      line-height: 1.5;
      padding: 5px 0;
      padding-left: 10px;
      margin: 0 15px 2px;
      font-size: 1.5em;
      background-color: #f9f9f9;
      display: flex;
      justify-content: space-between;
      flex-flow: column nowrap;
      border-radius: 5px;
    }
    .task:hover,
    .task:active {
      background-color: #ddd;
      cursor: pointer;
    }
    .first-line {
      display: flex;
      justify-content: space-between;
    }
    .task-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
    .tick-box {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #fff;
      border: 1px solid #668964;
      border-radius: 5px;
      width: 23px;
      height: 23px;
      margin-right: 7px;

    }
    .icon-checked {
      visibility: hidden;
      width: 18px;
      height: 20px;
    }


    .task-title {
      width: 100%;
    }
    #task-title {

      line-height: 1.5;
      font-size: 1.2em;
      flex-shrink: 0;
      outline: none;
      height: 100%;
      background: transparent;
      border: none;
      width: 100%;
    }

    #date {
      font-size: 0.5em;
      font-family: sans-serif;
      padding-left: 35px;
    }
    .task-ctrl {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-right: 10px;
    }
    .icon-hamburger {
      width: 20px;
      height: 20px;
      padding: 5px 5px 3px;;
      box-sizing: content-box;

    }
    .fa-trash-o {
      font-size: 25px;
      padding: 5px;
      box-sizing: content-box;
      border-radius: 3px;
    }
    .fa-trash-o:hover,
    .fa-trash-o:active {
      background-color: #5b7a59;
      color: #fff;
    }
    .glyphicon-remove {
      font-size: 1em;
      padding: 3px;
      margin: 3px 5px;
      border-radius: 3px;
    }
    .glyphicon-remove:hover,
    .glyphicon-remove:active {
      background-color: #5b7a59;
      color: #fff;
    }

/*************************************************
*
*                    STATES
*
**************************************************/

.visible {
  visibility: visible !important;
  opacity: 1 !important;
}
.invisible {
  visibility: hidden !important;
  height: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
}
.checked {
  text-decoration: line-through;
}
.hovered {
  background: #ddd;
}
.extended {
  min-width: 600px;
}
.visible-alert {
  min-height: 30px;
  visibility: visible !important;
  margin: 10px 0;
}
.shadow {
  -moz-box-shadow: 0 2px 4px;
  -webkit-box-shadow: 0 2px 4px;
  box-shadow: 0 2px 4px;
}
.current-list {
  background-color: #d6d5b9 !important;
}

/*************************************************
*
*                 MEDIA QUERIES
*
**************************************************/
/*
@media only screen and (max-width: 1075px) {
    .nav-block {
      display: none;
    }

}
*/
