<!DOCTYPE html>
<html lang="en" ng-app="task-manager">
  <head>
    <title>To-Do List</title>
    <link rel="stylesheet" href="css/jquery-ui.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,700&amp;subset=cyrillic-ext" rel="stylesheet">
  </head>
  <body>

    <div class="content" ng-controller="GlobalController as gCtrl">

      <div class="nav-block">

          <header class="nav-header">
            <div class="logo-wrapper shadow">
              <img class="logo" src="images/logo.png">
            </div>
          </header>

          <div class="user-toolbar">
            <div class="nameIcon">
              <h1 class="nameLetter">N</h1>
            </div>
            <h1 class="user-name">Nikita Balesny</h1>
          </div>

          <div class="lists-box">
            <ol class="lists-collection list-unstyled">

              <li class="list" ng-repeat="list in gCtrl.lists" ng-click="gCtrl.getName(list)">

                  <div class="list-content">
                    <img class="icon-list" src="images/icon-list.png">
                    <h1 id="list-title">{{list.name}}</h1>
                  </div>
                  <div class="list-ctrl">
                    <img class="icon-dots-main" src="images/icon-dots.png" >
                  </div>

              </li>


            </ol>
          </div>

          <div class="add-list">
            <button class="add-list-btn">
              <img class="icon-plus" src="fonts/png/icon-plus-green.png">
              Create a new list
            </button>
          </div>

      </div>


      <div class="tasks-block">

          <header class="listHeader">
            <h2>{{gCtrl.listName}}</h2>
          </header>



          <form class="newTaskBlock" ng-submit="gCtrl.addTask()">
              <input type="text" id="newTask" ng-model="gCtrl.taskInput" placeholder="Add a task" autocomplete="off">
              <span type="submit" id="addTask">Add</span>
          </form>



          <div class="tasks-box">
            <ol class="tasks-list list-unstyled">
<!--
              <li class="task">
                  <div class="first-line">
                    <div class="task-content">
                    <div class="tick-box">
                      <img class="icon-checked" src="images/icon-checked.png">
                    </div>
                      <div class="task-title">
                        <input id="task-title" type="text" value="${input.val()}">
                      </div>
                    </div>
                    <div class="task-ctrl">
                      <img class="icon-hamburger" src="images/icon-hamburger.png">
                      <i class="fa fa-trash-o"></i>
                    </div>
                  </div>
                  <div class="meta">
                    <p id="date">Created on ${time}</p>
                  </div>
              </li>
-->

              <li class="task" ng-repeat="task in gCtrl.tasks">
                <div class="first-line">
                  <div class="task-content">
                  <div class="tick-box">
                    <img ng-model="task.done" class="icon-checked" src="images/icon-checked.png">
                  </div>
                    <div class="task-title">

                        {{task.name}}

                    </div>
                  </div>
                  <div class="task-ctrl">
                    <i class="fa fa-trash-o" ng-click="gCtrl.removeTask(task)"></i>
                  </div>
                </div>
                <div class="meta">
                  <p id="date">Created on {{task.createdOn | date:"MMM d, HH:mm"}}</p>
                </div>

              </li>




            </ol>
          </div>


      </div>

    </div>

    <div class="modals">
      <div class="add-list-modal">
        <div class="modal-content">

          <div class="content-header">
            <h1>Create New List</h1>
            <input class="add-list-input" type="text" placeholder="List Name">
          </div>

          <div class="content-footer">
            <button class="cancel-btn">Cancel</button>
            <button class="submit-btn">Save</button>
          </div>

        </div>
      </div>

      <div class="overlay"></div>

    </div>






  </body>

  <script src="js/jquery-3.2.0.js"></script>
  <script src="js/jquery.js"></script>
  <script src="js/jquery-ui.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/simplestorage/0.2.1/simpleStorage.min.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/angular-app.js"></script>
</html>
